ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  /*
  li:hover {
    background-color: orange;
  }
  */

  .navMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    align-items: center;
  }